{# {% extends "socialaccount/base.html" %}#}
{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}
{% load socialaccount %}
{% load bootstrap3 %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'flavors/css/allauth.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="signup-form-wrapper">

    <p class="alert alert-info">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_field form.username show_label=False %}
      {% bootstrap_field form.email show_label=False %}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
