{# {% extends "socialaccount/base.html" %}#}
{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'flavors/css/allauth.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="signup-form-wrapper">

    <p class="alert alert-info">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="sr-only">Username:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}" class="sr-only">Email:</label>
        {{ form.email }}
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
