{# {% extends "account/base.html" %}#}
{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'flavors/css/allauth.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="account-form-wrapper">
    <h3 class="form-signin-heading">Password Reset</h3>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="alert alert-info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.email show_label=False %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Reset My Password" %}</button>
    </form>
  </div>
</div>
{% endblock content %}
