{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap3 %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'flavors/css/allauth.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="account-form-wrapper">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      <h3 class="form-signin-heading">Change Password</h3>
      <hr>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.oldpassword show_label=False %}
        {% bootstrap_field form.password1 show_label=False %}
        {% bootstrap_field form.password2 show_label=False %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock content %}
