{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'flavors/css/allauth.css' %}">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="account-form-wrapper">
      <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
      <hr>

      {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p class="alert alert-warning">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

      {% else %}
          {% if form %}
              <form method="POST" action="{{ action_url }}">
                  {% csrf_token %}
                  {% bootstrap_form_errors form %}
                  {% bootstrap_field form.password1 show_label=False %}
                  {% bootstrap_field form.password2 show_label=False %}
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
                  </div>
              </form>
          {% else %}
              <p class="alert alert-success">{% trans 'Your password is now changed.' %}</p>
          {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
