{% extends "base.html" %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block head_title %}{{ listing.listed_name|lower|capfirst }}{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'flavors/css/allauth.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-responsive">
    <table id="my-ratings" class="table table-striped table-hover" data-toggle="table" data-search="true"> <!-- .table-condensed ?-->
      <thead>
        <tr>
            <th data-field="ingredients" data-sortable="true" data-sort-name="_ingredients_data" data-sorter="numIngsSorter">Ingredients</th>
            <th data-field="like">Like</th>
            <th data-field="star" data-sortable="true">Star</th>
            <th data-field="notes" data-editable="true" data-editable-type="textarea" data-editable-mode="inline">Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for user_combo_datum in user_combo_data %}
          <tr>
            {% with ings=user_combo_datum.combination.ingredients.all %}
            <td data-numings='{{ ings.count }}'>
              {% for ing in ings %}
                {{ ing }}
              {% endfor %}
            </td>
            {% endwith %}
            <td>
              <button type="button" class="btn btn-default" aria-label="Like">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default" aria-label="Dislike">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-default" aria-label="Star">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            </td>
            <td>{{ user_combo_datum.note }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <table id="my-submissions" class="table table-striped table-hover" data-toggle="table" data-search="true"> <!-- .table-condensed ?-->
      <thead>
        <tr>
            <th data-field="ingredients" data-sortable="true" data-sort-name="_ingredients_data" data-sorter="numIngsSorter">Ingredients</th>
            <th data-field="ratings" data-sortable="true">Ratings</th>
            <th data-field="pctliked" data-sortable="true">% Liked</th>
        </tr>
      </thead>
      <tbody>
        {% for combo in submitted_combos %}
          <tr>
            {% with ings=combo.ingredients.all %}
            <td data-numings='{{ ings.count }}'>
              {% for ing in ings %}
                {{ ing }}
              {% endfor %}
            </td>
            {% endwith %}
            <td>{{combo.get_num_tried}}</td>
            <td>{{combo.calc_percent_likes}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock content %}

{% block footer_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <script src="{% static 'js/vendor/bootstrap-table-editable.min.js' %}"></script>
{% endblock %}
